p {
  color: greenyellow;
}

.card {
  margin: 5%;
  padding: 10%;
  background-color: red;
}

.dead-background {
  background-color: aquamarine !important;
}

.alive-background {
  background-color: rgb(112, 255, 3) !important;
}
