#menu_header {
  border-radius: 12px;
  border: 0.3vh solid #3d3d3d;

  .mat-button-toggle {
    background-color: transparent;
  }

  .mat-button-toggle-checked {
    background-color: white;
    color: black;

    #favorite_circle {
      color: white;
      background-color: black;
    }
  }

  #favorite_circle {
    width: 1.5rem;
    height: 1.5rem;
    color: black;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
    border-radius: 50%;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background-color: white;
  }
}
