@import '~@angular/material/prebuilt-themes/purple-green.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0 !important;
    padding:  0 !important;
    width: 100% !important;
    height: 100% !important;
    background-color: #1F1F1F;
}

@font-face {
    font-family: 'Creepster';
    src: url('assets/fonts/creepster/Creepster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}